RESTART_POLICY = '{
    "excludedContainers": ["container_name"], #-> More than 1 container could be excluded. Specify them as ["container1", "container2"]
    "statuses": {
        "exited": {
            "codesToExclude": [0]   #-> More than 1 exit code could be excluded. Specify them as ["code1", "code2", "code3"]
        }
    }
}'

ENABLE_DASHBOARD=True #-> Possible values [True | False]
LOGS_AMOUNT=10 #-> This will display the last n logs on the dashboard to clearly indicate the issue that triggered the restart policy
DASHBOARD_ADDRESS=0.0.0.0 #-> Possible values [0.0.0.0 | 127.0.0.1]
DASHBOARD_PORT=8000 #-> Possible values [ Any free port ]
ADMIN_PASSWORD=
ENABLE_NOTIFICATIONS=True #-> Possible values [True | False]
NOTIFICATION_URLS='["url1", "url2"]' #-> Check https://github.com/caronc/apprise/wiki#notification-services
NOTIFICATION_TITLE="" #-> Edit the notification title as you wish
NOTIFICATION_BODY="" #-> Edit the notification body as you wish



###############
#   LOGGING   #   
###############

# --- Log Level ---
# Set the verbosity of logs. Options: "error", "warn", "info", "debug"
# Default: info
LOG_LEVEL= info

# --- Log Timezone ---
# Adjust the timezone used for logging
# e.g. Europe/Rome, America/New_York
LOG_TIMEZONE=UTC

###############
#   AGENT     #   
###############
AGENTS_CONFIG = '[{host: "", port: 8000, token: "", verify_ssl: true}]' #-> This is the configuration for the agent that will execute the actions. You can specify multiple agents as [{"host": "ip1", "port": port1, "token": "    token1", "verify_ssl": true}, {"host": "ip2", "port": port2, "token": "token2", "verify_ssl": false}]
AGENT_HOST=127.0.0.1 #-> This is used to specify if the agent should bind to a specific host. This is useful if the agent is running on the same machine as the main application and you want to restrict access to it. Possible values [127.0.0.1 | 0.0.0.0]
AGENT_PORT=8000 #-> This is the port on which the agent will listen for incoming requests. Make sure to set this to a free port. Possible values [ Any free port ]
AGENT_TOKEN= #-> This is the token that the agent will use to authenticate incoming requests. Make sure to set this to a strong, unique value.
AGENT_VERIFY_SSL=True #-> This specifies whether the agent should verify SSL certificates when making requests to other services. Set this to False if you are using self-signed certificates or if you want to disable SSL verification for any reason. Possible values [True | False]
